# Environment Variables
REACT_APP_API_URL=https://quickcrm-backend-2024-edh6dkfdhvbsc9f6.westeurope-01.azurewebsites.net/api
VITE_API_URL=https://quickcrm-backend-2024-edh6dkfdhvbsc9f6.westeurope-01.azurewebsites.net/api

# Development
NODE_ENV=development
